<%- include partials/header %>
	<div class="page-city-banner" style="background-image:url('../imgs/banner/<%= backgroundImage %>')">
		<div class="container">
			<div class="row">
				<div class="col-sm-8">
					<div class="jumbotron">
					</div>
				</div>
			</div>
		</div>
	</div><!--end page-banner-->
	<section class="content">
		<h1 class="text-center"><%= title %></h1>
		<h3 class="text-center"><%= headline %></h1>
	</section>
<%- include partials/footer %>